<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <img src="icon.ico">
            <div class="text">Stress-O-Meter</div>
          </div>
          <div class="m">
            <a href="#"><button class="button-2">Home</button></a>
            
            <a href="#"><button class="button-1">About</button></a>
            <a href=""><button class="button-0">Contact Us</button></a>
           
          </div>
          <div class="login">
            <a href="/"> <button class="button-63" role="button">Login</button></a>
          </div>
        </nav>
        <form action="login" method="POST">
        <div class="l1">
          <label for="uname" class="cd"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="name">
      
          <label for="psw" class="cd"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password">
      
          <button class="button23 bc" type="submit" >Login</button>
          <label>
            <input  class="ab" type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          <div class="container" style>
            <button type="button23" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>




        </div>
         <div class="redi">
        New to our website?<a href="/signup">Register here!</a>
      </div>
      
        
      
       </header>
       
      

    
</body>
</html>