<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="recomm.css">
   
    
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <img src="icon.ico">
            <div class="text">Stress-O-Meter</div>
          </div>
          <div class="m">
            <a href="/index"><button class="button-2">Home</button></a>
            
            <a href="#"><button class="button-1">About</button></a>
            <a href=""><button class="button-0">Contact Us</button></a>
           
          </div>



          <div class="login">
            <a href="/login"> <button class="button-63" role="button">Login</button></a>
          </div>

        </nav>

        <div class="ff">
         <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiGqJm7l4X_AhXkk2YCHfGtA9MYABAAGgJzbQ&ohost=www.google.com&cid=CAESauD2d8hMdS6UR9IMinZmXg3vZToWm01sWX9wlHcMhtT5KFNA7JDf1KGJbmTBjGQ1e0Fc3dGY0JOA4cEaPriIBBCvgZuByMVGJUvFcocbRfaiWP5zrjHhCNpsVW-1SoKdiW-Rc_
         t9-n0HJnI&sig=AOD64_3RzkCM3NBWwHNu443iEhPNVK-Umg&q&adurl&ved=2ahUKEwio25K7l4X_AhW43jgGHX8tAUEQ0Qx6BAgJEAE"><div class="f1">Games</div></a>
        <a href="https://www.youtube.com/@AnubhavSinghBassi"> <div class="f2">Comedy Videos</div></a>
         <a href="https://www.fountainhead.com.au/7-yoga-poses-for-stress-relief"><div class="f3">Yoga</div></a>
         
        </div>
        <div class="fg">
         <a href="https://www.youtube.com/watch?v=pAEioF7FaWY"><div class="f4">Meditation</div></a>
         <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiKtdbXmIX_AhXQY30KHXJrABUYABABGgJzZg&ohost=www.google.com&cid=CAASJeRoJOxrDRARdNrYbCsJmcXKrdo-JtKWPCykejZ9UycVsP0Ve5g&sig=AOD64_0E0VRhFolxcHRovdAQ9tCG2y4_Hw&q&adurl&ved=2ahUKEwipz9DXmIX_AhUSwzgGHXoQCS8Q0Qx6BAgGEAE"><div class="f5">Music</div></a>
         <a href="https://www.sutterhealth.org/health/nutrition/eating-well-for-mental-health"><div class="f6">Healthy Diet</div></a>
        </div>

        


       




        
        
      
       </header>
       
      

    
</body>
</html>